<div
  class="d-flex justify-content-center align-items-center flex-wrap"
  style="height: 600px;"
>
  <div class="card" style="width: 450px;">
    <h5 class="card-header">CARP</h5>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Acesso ao sistema</h6>
      <form (ngSubmit)="login(acesso)" #acesso="ngForm" id="acessar">
        <div class="form-group">
          <label for="login">E-mail</label>
          <input
            type="email"
            class="form-control form-control-sm"
            id="login"
            #lolgin="ngModel"
            name="login"
            [(ngModel)]="usuario.login"
            data-toggle="tooltip"
            data-placement="bottom"
            title="E-mail de acesso da aplicação"
            placeholder="email@servidor.com"
            required
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input
            type="password"
            class="form-control form-control-sm"
            id="senha"
            #senha="ngModel"
            name="senha"
            [(ngModel)]="usuario.senha"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Senha de acesso"
            placeholder="Senha de acesso"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="acesso.form.invalid"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Clique para entrar"
        >
          Entrar
        </button>
        <div class="form-group row">
          <div class="col">
            <a href="" class="text-decoration-none">Esqueci minha senha</a>
          </div>
          <div class="col text-right">
            <a href="" class="text-decoration-none">Criar uma conta</a>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted" *ngIf="falhaAutenticacao">
      <div class="alert alert-danger" role="alert">
        Usuário e/ou senha incorretos.
      </div>
    </div>
  </div>
</div>
