<nav
  class="navbar navbar-dark bg-primary navbar-expand-sm sticky-top"
  id="barraMenu"
  *ngIf="getLogado()"
>
  <!-- 
    <a class="navbar-brand" href="/">Carp</a>
  -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    id="botaoMenu"
    data-target="#intensBarraMenu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--
  <a class="navbar-brand" href="/">
            <img src="assets/image/logo.png" alt="Logo" width="218" height="110">
          </a>
        -->
  <div class="collapse navbar-collapse" id="intensBarraMenu">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [ngClass]="{ dropdown: item.subIntens != null }"
        *ngFor="let item of getItensMenu()"
      >
        <a
          *ngIf="item.subIntens === null"
          class="nav-link"
          [routerLink]="[item.link]"
          >{{ item.texto }}</a
        >

        <a
          *ngIf="item.subIntens !== null"
          class="nav-link dropdown-toggle"
          [routerLink]="[item.link]"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ item.texto }}</a
        >

        <div
          *ngIf="item.subIntens !== null"
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
        >
          <a
            *ngFor="let subItem of item.subIntens"
            class="dropdown-item"
            [routerLink]="[subItem.link]"
            routerLinkActive="active"
            >{{ subItem.texto }}</a
          >
        </div>
      </li>
    </ul>
    <span class="navbar-text">
      Texto
    </span>
  </div>
</nav>
